p {
  font-size: 13px;
}

.pledge-list {
  margin: auto;
  height: 250px;
  list-style-type: none;
  overflow: scroll;
}

.pledge-blocks {
  background-color: #46cece26;
  font-size: 13px;
  /* margin: auto; */
  width: 400px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px 10px 10px 20px;
  border-bottom: solid 1px black;
}

#project-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 8px;
  row-gap: 10px;
  /* width: 70%; */
}

.project-container {
  width: 80%;
  padding: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: #46cece26;
}

.project-img {
  /* margin: auto; */
  object-fit: cover;
  height: 100%;
  width: 80%;
  padding: 30px;
}

.outer-box {
  margin: auto;
  width: 80%;
  /* border: 3px solid #c6e2ff; */
  /* padding: 50px; */
}

.inner-box {
  display: flex;
  justify-content: center;
}

.project-text {
  padding: 30px;
  margin: 30px;
  background-color: #46cece26;
  width: 400px;
  border-radius: 20px;
}

.inner-box-pledges {
  margin: auto;
}

.text-section {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 50%;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1260px) {
  .inner-box {
    display: block;
    margin: 10px;
  }

  .project-text {
    width: 59vw;
  }
}

@media screen and (max-width: 800px) {
  .project-img {
    width: 100%;
  }

  .project-container {
    width: 90%;
  }

  #project-list,
  .inner-box {
    display: inline-block;
    align-items: center;
    margin: auto;
  }

  .project-card {
    margin-bottom: 20px;
  }
}
