@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400&family=Open+Sans&family=Poppins:wght@200;400&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* font-size: 15px; */
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #46cdce;
  align-items: center;
  /* background-color: antiquewhite; */
  width: 98%;
  /* height: 180px; */
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.nav-btn,
.logout-btn {
  font-size: 15px;
  justify-content: center;
  margin: auto;
  display: flex;
  align-items: center;
  width: 140px;
  text-decoration: none;
  color: black;
}

.logo-img {
  height: 200px;
  width: auto;
}

.nav-btn:hover {
  color: #46cdce;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin-right: 20px; */
}

.logout-btn {
  /* font-size: 18px; */
  background: none;
  border: none;
  /* margin: 0; */
  /* padding: 0; */
}

.logout-btn:hover {
  color: #46cdce;
}
